body{
    margin: 0;
    padding: 0;
    background: url(https://static.vecteezy.com/system/resources/previews/001/223/468/original/close-up-of-hands-holding-tree-free-photo.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
